.parentsidebar{
    position: fixed; /* Sticks to the left */
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    background-color: #111;
    color: white;
    padding-top: 80px;
    padding-left: 20px;
    background-color: transparent;
    background-color: rgba(0, 0, 0,0.3); /* Transparent background */
    backdrop-filter: blur(10px); /* Blur the background */
    -webkit-backdrop-filter: blur(10px);
    
}

.parentsidebar h4{
    background-color: transparent;
    font-size: 20px;
    font-weight: 350;
}
.button-sidebar{
  background-color: transparent;
  border: none;
  outline: none;
  color: #e0e0e0;
  font-size: 20px;
  display:flex;
  align-items: flex-start;
  padding: 10px 10px;
  border-radius: 10px;
  width:150px;
  transition: 0.5s ease-in-out;
}
.buttonsidebar{
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}
.sidebarlogos{
    background-color: transparent;
    height: 30px;
    margin-right: 8px;
}
.button-sidebar:hover{
    background-color: rgba(45, 45, 44, 0.86);
    cursor: pointer;
}
.greeting h4{
font-size:30px;
}
.greeting h5{
  background-color: transparent;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
}
.greeting p{
  font-size: 15px;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
    .parentsidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .parentsidebar.open {
        transform: translateX(100);
    }
}


.parentsidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 20px;
    border-right: 1px solid rgba(97, 97, 97, 0.9);
    z-index: 2;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Mobile view - hide unless open */
  @media (max-width: 768px) {
    .parentsidebar {
      transform: translateX(-100%);
    }
    .parentsidebar.open {
      transform: translateX(0);
    }
  }
  