
  .footer {
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
    border-top: 1px solid rgba(97, 97, 97, 0.233);
    padding: 8px 12px;
    background-color: transparent;
    background-color: rgba(0, 0, 0,0.3); /* Transparent background */
    backdrop-filter: blur(10px); /* Blur the background */
    -webkit-backdrop-filter: blur(10px);
    z-index: 10;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
}
  .footer .logo {
    font-size: 25px;
    letter-spacing: 2px;
    padding-left: 20px;
    color: var(--softlilac);
    font-weight: 200;
  }
  .footer p {
    font-size: 14px;
    background-color: transparent;
  }
  .footer .copyright {
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    padding-right: 20px;
    font-weight: 200;

  }
  @media (max-width: 480px) {
    .footer{
      align-items: center;
      justify-content: center;
    }
    .footer-content{
      justify-content: center;
    }
  }
  